<style>
    table,
    td {
        text-align: center
    }

    table {
        width: 40%;
        border-collapse: collapse
    }

    .cell {
        font: 150px arial, sans-serif;
        text-decoration: none;
        color: #000
    }

    td {
        height: 200px;
        width: 33.333%;
        vertical-align: center;
        border: 6px solid rgb(0, 0, 0)
    }

    td:first-of-type,
    td:nth-of-type(2),
    td:nth-of-type(3) {
        border-top-color: transparent
    }

    td:first-of-type {
        border-left-color: transparent
    }

    td:nth-of-type(3) {
        border-right-color: transparent
    }

    tr:nth-of-type(3) td {
        border-bottom-color: transparent
    }
</style>
<table align="center">
    {{range $i, $b := $.Board }}
    <tr>
        {{range $j, $c := index $.Board $i}}
        <td><a class="cell" href="/updateGame/{{ $.SessionID }}/{{ $i }}/{{ $j }}">{{ formatTile $c }}</a></td>
        {{end}}
    </tr>
    {{end}}
</table>
<p>Currently it is {{ formatTile .Turn }}'s turn.</p>
<p>Winner: {{ formatTile .Winner }}</p>
<p>New Game? <a href=/newGame/1>1p </a> <a href=/newGame/2>2p </a> </p>